#titleName{background-color:purple;color:white;text-align:center;}

.one{background-color:pink;}
#health1{width:600px;height:400px;display:block;margin-left:0px;border:solid;color:white;}
#healthDescription1{position:absolute;top:200px;left:800px;display:block;}
#healthParagraph1{position:absolute;top:280px;left:800px;display:block;}

.two{background-color:pink;}
#health2{width:600px;height:400px;display:block;margin-left:800px;border:solid;color:white;}
#healthDescription2{position:absolute;top:660px;left:20px;display:block;}
#healthParagraph2{position:absolute;top:710px;left:20px;display:block;}

.three{background-color:pink;}
#health3{width:600px;height:400px;display:block;margin-left:100px;border:solid;color:white;}
#healthDescription3{position:absolute;top:1250px;left:800px;display:block;}
#healthParagraph3{position:absolute;top:1330px;left:800px;display:block;}

.four{background-color:pink;}
#health4{width:600px;height:400px;display:block;margin-left:800px;border:solid;color:white;}
#healthDescription4{position:absolute;top:1700px;left:30px;display:block;}
#healthParagraph4{position:absolute;top:1760px;left:30px;display:block;}

.five{background-color:pink;}
#health5{width:600px;height:400px;display:block;margin-left:100px;border:solid;color:white;}
#healthDescription5{position:absolute;top:2240px;left:800px;display:block;}
#healthParagraph5{position:absolute;top:2300px;left:800px;display:block;}